<h1>게시글 작성</h1>
<form action="/post/create">
    <input type="text" name="title" placeholder="제목을 적어주세요"><br/>
    <input type="text" name="content" placeholder="내용을 적어주세요"><br/>
    <input type="submit" value="작성완료">
</form>
